* {
    margin: 0;
    padding: 0;
}

header {
    height: 7vh;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    margin-bottom: 2.5%;
    padding: 0 2.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 a {
    text-decoration: none;
    color: #B0413E;
}


main {
    width: 80%;
    margin: auto;
}